.home,
.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg");
  background-size: cover;
  -webkit-animation: slidein 100s;
  animation: slidein 100s;

  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;

  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

@-webkit-keyframes slidein {
  from {
    background-position: top;
    background-size: 3000px;
  }
  to {
    background-position: -100px 0px;
    background-size: 2750px;
  }
}

@keyframes slidein {
  from {
    background-position: top;
    background-size: 3000px;
  }
  to {
    background-position: -100px 0px;
    background-size: 2750px;
  }
}

.home * {
  font-size: 50px;
}

.center {
  text-align: center;
  padding: 50px 30px;
  /* border-radius: 3px; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.center h1 {
  text-align: center;
  color: white;
  font-family: "Source Code Pro", monospace;
  text-transform: uppercase;
}

.text-center button {
  border: none;
  border-radius: 3px;
  font-size: 14px;
  padding: 4px 6px;
}

button.signup {
  background-color: transparent;
  border: 1px solid rgb(74, 74, 74);
}

button.h-login {
  border: 1px solid rgb(56, 56, 224);
}

button.h-login:hover {
  background-color: white;
  color: black;
  border: 1px solid white;
}

div.row {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

div.row * {
  font-size: 13px;
}

form {
  border: 0.5px solid lightgray;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px 5px;
}

form button {
  margin: 10px 0 0 0;
  border: none;
}

/* Navigation */

div .nav-item a {
  color: white;
}

.profile-page {
  height: 100vh;
  background-color: white;
}

.login,
.logout {
  height: 20px;
  width: 20px;
  padding: 3px;
}

.sun {
  height: 20px;
  width: 20px;
  padding: 1px;
  margin: 2px 6px 0;
}

.sun:hover,
.logout:hover,
.login:hover {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.315);
}

.grid {
  height: 100vh;
}

.card {
  height: 100vh;
}

.card img {
  width: 100%;
  height: 220px;
  padding: 0;
  margin: 0;
}

.edit-btn {
  border: 1px solid lightgray;
  height: 22px;
  width: 22px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 8px 8px 0 0;
  padding: 2.5px;
  fill: rgb(0, 0, 0);
  background-color: lightgray;
  border-radius: 100px;
}

.edit-btn:hover {
  background-color: white;
  fill: rgb(121, 121, 121);
}
.post {
  background-color: rgb(12, 150, 255);
  top: 210px;
  left: 90px;
  width: 30px;
  height: 30px;
  border: 2px solid white;
  color: white;
  font-weight: 600;
  padding: 3px;
  transition: 0.2s all 0.02s;
}

.post:hover {
  transform: scale(1.1);
  padding: 2px;
  background-color: rgb(0, 145, 255);
}

.interest {
  font-size: 10px;
  font-weight: 500;
  margin: 0;
  margin-right: 4px;
  padding: 0;
  text-transform: lowercase;
}

.wrapper {
  display: flex;
}

.interest-icon {
  color: rgb(169, 169, 169);
  font-size: 14px;
  margin-right: 5px;
}

.interest-icon svg {
  padding: 0;
  margin: 0;
  color: lightgray;
}

.loc-text {
  font-size: 10px;
  font-weight: 500;
  margin: 0;
  margin-right: 4px;
  padding: 0;
}

.loc-icon{
  color: lightgray;
  font-size: 15px;
}

.loc-wrapper{
  font-size: 10px;
  font-weight: 300;
  vertical-align: baseline;
  display: flex;
  margin-bottom: 5px;
}

.age{
  font-weight: 300;
}

.name-wrapper{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 5px;
}

.name-wrapper * {
  padding: 0;
  margin: 0;
  font-size: 11px;
}

.name-wrapper svg {
  margin-left: 2.2px;
  margin-right: 10px;
  color: rgb(198, 198, 198);
}

.edit-form{
  height: 100vh;
}
 
.edit-form form{
  border: 1px solid rgb(130, 130, 130);
  box-shadow: none;
  border-radius: 0%;
  max-width: 700px;
  margin: 20px auto ;
}

.edit-form div.row{
  height: auto;
}